* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}


.form-login {
  width: 400px;
  height: 340px;
  background: #4e4d4d;
  margin: auto;
  margin-top: 180px;
  box-shadow: 7px 13px 37px #000;
  padding: 20px 30px;
  border-top: 4px solid #017bab;
  color: white;
}

.controls {
  width: 100%;
  border: 1px solid #017bab;
  margin-bottom: 15px;
  padding: 11px 10px;
  background: #252323;
  font-size: 14px;
  font-weight: bold;
}

.form-login h5 {
  margin: 0;
  text-align: center;
  height: 40px;
  margin-bottom: 30px;
  border-bottom: 1px solid;
  font-size: 25px;
}

body {

  background-image: url('fondo.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;

}

input[type=text]{
  color: white;
}
input[type=password]{
  color: white;
}
button {
   width: 100%;
   height: 40px;
   background: #017bab;
   border: none;
   color: white;
   margin-bottom: 16px;

}
