{% extends 'base.html' %}
{% block titulo %}Regristro Alumnos{% endblock %}
{% block encabezado %}Registrar Alumnos{% endblock %}
{% block contenido %}
{% if errores %}
<div class="panel panel-danger">
        <div style="background-color:#FFFF00" class="panel-heading">Se han encontrado los siguientes errores : </div>
        <div class="panel-body">
                <ol>
                        {% for error in errores %}
                        <li style='color: red'>{{ error }}</li>
                        {% endfor %}
                </ol>
        </div>
</div>

{% endif %}

<form action="/Registro_Alumnos" method="POST">
  {% csrf_token %}
 <div class="contenedor">
  <div class="mb-3 mt-3">
    <label style="color:#000000" for="nombrebot" class="form-label">Nombre del Alumno:</label>
    <input type="text" class="form-control" id="nombreAlumno" placeholder="Nombre del Alumno" name="nombreAlumno">
  </div>

  <div class="mb-3 mt-3">
    <label style="color:#000000"  for="host" class="form-label">Matricula del Alumno:</label>
    <input type="text" class="form-control" id="Matricula" placeholder="Matricula" name="Matricula">
  </div>

  <div class="mb-3 mt-3">
    <label style="color:#000000" for="Contrasena" class="form-label">Contraseña:</label>
    <input type="password" class="form-control" id="Contrasena" placeholder="Contraseña del Alumno" name="Contrasena">
  </div>

  <div class="mb-3 mt-3">
    <label style="color:#000000" for="Tipo de cuenta" class="form-label">Alumno o Maestro:</label>
    <input type="text" class="form-control" id="TipoCuenta" placeholder="Tipo de cuenta" name="TipoCuenta">
  </div>
  
  <button type="submit" class="btn btn-primary">Registrar</button>
  </div>
</form>


{% endblock %}
