<!DOCTYPE html>

<html lang="es-MX">
 <head>
    <title>Login del sistema</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="static/css/estilo_login.css">
  </head>
{% block content %}
{%  if errores %}
        <div class='container' id="errores">
            <div class="card bg-danger text-white">Se han encontrado los siguientes errores:</div>
            <div class="alert alert-danger">
                <ol>
                    {% for error in errores %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ol>
            </div>
        </div>
{%  endif %}
{% endblock %}


<div class="container">
        <div class="row text-center login-page">
           <div class="col-md-12 login-form">
              <form  class="form-login" action="login" method="POST">
                   {% csrf_token %}
                 <div class="row">
                    <div class="col-md-12 login-form-header">
                       <h5 class="login-form-font-header">Login del sistema</h5>
                    </div>
                </div>
                <div class="row">
                   <div class="col-md-12 login-from-row">
                      <input class="controls" name="nombres" type="text" placeholder="Nombre de usuario" required/>
                   </div>
                </div>
                <div class="row">
                   <div class="col-md-12 login-from-row">
                      <input class="controls" name="password" type="password" placeholder="Contraseña" required/>
                   </div>
                </div>
                <div class="row">
                   <div class="col-md-12 login-from-row">
                      <button class="btn btn-info">Entrar</button>
                      <p><a href="/Registro_Alumnos">"Registrar Usuario"</a></p>
                    </div>
                </div>
            </form>
        </div>
</html>
