{% extends 'base.html' %}
{% block titulo %}Verificacion de Scripts{% endblock %}
{% block encabezado %}Verificacion de Scripts{% endblock %}
{% block contenido%}
<form action="/verificar_scripts" method="POST">
{% csrf_token %}
<div class="mb-3 mt-3">
     <label for="Entrada" class="form-label">Entrada:</label>
     <input type="text" class="form-control" id="Entrada" placeholder="Entrada" name="Entrada">
</div>
<div class="mb-3 mt-3">
     <input type="file" name="archivosubido" accept=".sh" moxdirectory= "/home/omarconde/prograsegura/prograsegura/templates">
</div>
<div class="mb-3 mt-3">
     <label for="Salida_esperada" class="form-label">Salida esperada:</label>
     <input type="text" class="form-control" id="Salida_esperada" placeholder="Salida_esperada" name="Salida_esperada">
</div>

<button type="submit" class="btn btn-primary">Registrar</button>
<form>
{% endblock %}
