{% extends 'base.html' %}
{%block titulo%}Verificacion de Scripts{% endblock%}
{% block contenido%}




<form action="/Subir_Ejercicio_Profesor" method="POST" enctype="multipart/form-data">
{% csrf_token %}

<div class="mb-3 mt-3">
     <input type="file" name="archivosubido" accept=".sh">
</div>

<div class="mb-3 mt-3">
     <label for="Nombre_Archivo" class="form-label">Nombre de la actividad:</label>
     <input type="text" class="form-control" id="Nombre_Archivo" placeholder="Nombre_Archivo" name="Nombre_Archivo">
</div>


<div class="Caja">
       <option value="" selected disabled>Tareas subidas por el profesor</option>
       {% for tare in tarea%}
       <option>{{tare.upload}}</option>
     {%endfor%}
   </select>



<button type="submit" class="btn btn-primary">Registrar</button>
<form>
{% endblock %}
