{% extends 'base.html' %}
{% block titulo %}Registro de Actividade{% endblock %}
{% block encabezado %}Registro de Actividades diponibles{% endblock %}
{% block contenido %}


<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
      <div class="container-fluid">
           <a class="navbar-brand" href="logout">Cerrar Sesion</a>
      </div>
</nav>


 <article class="container">
          <div class="table-responsive">
            <table class="table table table-dark">
              <thead>
                <tr>
                    <th>Nombre de la Actividad</th>
              
                  </tr>
                </thead>
    <tbody>

 {% for bot in bots %}
  <tr>
  <td><a class="btn btn-info" href="{% url 'verificar_script' bot.id %}">{{ bot.NombrePractica }}</a></td>
  </tr>
   {% endfor %}
              </tbody>
                </div>
                 <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
                   <div class="container-fluid">
                   </div>
                 </nav>

{% endblock %}
