{% extends 'base.html' %}
{% block titulo %}Verificacion de Token{% endblock %}
{% block encabezado %}Verificacion de Token{% endblock %}
{% block contenido%}
    {%  if errores %}
        <div class='container' id="errores">
            <div class="card bg-danger text-white">Se han encontrado los siguientes errores:</div>
            <div class="alert alert-danger">
                <ol>
                    {% for error in errores %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    {%  endif %}



<div class="aside container col-3">
    <form action="/verificar_token" method="POST">
    {% csrf_token %}
    <div class="mb-3 mt-3">
        <label for="Token" class="form-label">Token del Bot:</label>
        <input type="text" class="form-control" id="Token" placeholder="Token de bot" name="Token">
    </div>
     <button type="submit" class="btn btn-primary">Registrar</button>
</div>
{% endblock %}
